<table  id='{{ config.table_id  }}' class='table'>
    <thead>
    <tr>
        {% for name in config.fields %}
            <th {% block config %}{% endbloc %} >{{ name }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

{% block config %}

{% endblock %}